# Visual Studio cache / temp
.vs/
*.user
*.suo

# Build output
x64/
Debug/
Release/
*.obj
*.pdb
*.ilk
*.exp
*.idb
*.iobj
*.ipdb

# VMProtect SDK
VMProtectSDK64.dll
VMProtectSDK64.lib
VMProtectSDK.dll
VMProtectSDK.lib

# CMake cache
CMakeCache.txt
CMakeFiles/

# Curl / OpenSSL 编译产物（如果有）
libcurl.dll
libcrypto*.dll
libssl*.dll

# System files
Thumbs.db
*.log
